* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #fff;
}

ion-icon {
    font-size: 32px;
    color: #d6b341;
}

header {
    color: #fff;
    background: linear-gradient(to right, #ffd54d, #d6b341);
    height: 65px;
    width: 100vw;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 9999;
}

h1 {
    margin: 0 0;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 2em;
}

h2 {
    margin: 0 0;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 1.5em;
}

pre {
    background: rgb(255, 255, 255);
    font-size: 15px;
    font-family: var(--ff-mono);
    line-height: 1.30769231;
    color: var(--highlight-color);
    border: 1px solid rgb(255, 110, 66);
    border-radius: 5px;
    margin: 0 10px;
}

nav {
    float:right;
    font-weight: 200;
    height: 65px;
}

.nav-list {
    padding: 16px 0;
}

nav li {
    display: inline-block;
    font-size: 20px;
    list-style: none;
    margin-right: 40px;
}

.nav-list li a:link, 
.nav-list li a:visited {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
    color: #18353c;
    padding: 3px 10px;
    border-radius: 5px;
}

.nav-list li a:hover, 
.nav-list li a:active {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    transition: background-color 0.5s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    width: calc(50% - 30px);
    margin: 10px 0;
    padding-bottom: 35px;
    background: rgb(185, 185, 185);
    border-radius: 5px;
    border-bottom: 2px solid #d6b341;
}

.section div {
    padding: 10px 30px;
}

.section h2 {
    background: linear-gradient(to right, #ffd54d, #d6b341);
    padding: 10px;
    border-radius: 5px;
}

#name-and-photo {
    width: 100%;
    padding: 30px 50px 50px;
    display: flex;
    justify-content: space-around;
    background: rgb(185, 185, 185);
    border-radius: 5px;
    border-bottom: 5px solid #d6b341;
}

#name-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#name-title h1 {
    border-bottom: 2px solid #d6b341;
    padding-bottom: 10px;
}

#name-title h2 {
    text-transform: uppercase;
}

#profile-photo {
    height: 250px;
    border-radius: 5px;
    border: 10px solid #d6b341;
    background: #d6b341;
}

#contacts-section {
    
}

#contacts-section li {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    height: 32px;
}

.contacts-text {
    margin-left: 10px;
}

#contacts-section li a:link, 
#contacts-section li a:visited {
    color: #18353c;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;   
}

#contacts-section li a:hover, 
#contacts-section li a:active {
    color: black;
    text-decoration: underline;
    transition: background-color 0.5s;
}

#skills-section ul {
    list-style-type: "\2B50";
    line-height: 1.9;	
    margin-left: 20px;
}
#skills-section li {
    color: #18353c;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none; 
    padding-left: 10px; 
}

footer {
    background: linear-gradient(to right, #ffd54d, #d6b341);
    padding: 20px;  
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
  }

  #git-link a:link, 
  #git-link a:visited {
      color: #18353c;
      font-weight: 600;
      font-size: 20px;
      text-decoration: none;   
  }
  
  #git-link a:hover, 
  #git-link a:active {
      color: black;
      text-decoration: underline;
      transition: background-color 0.5s;
  }

  .rss {
    width: 121px;
    height: 45px;
}